@font-face {
    font-family: 'Adelle';
    src: url("./../fonts/adelle-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Adelle';
    src: url("./../fonts/adelle-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Adelle Sans';
    src: url("./../fonts/adellesans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Adelle Sans';
    src: url("./../fonts/adellesans-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'Adelle Sans';
    src: url("./../fonts/adellesans-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}