/* Defining color variables */

$black: #535353; //Bestseller black
$blue: #273344; // Bestseller blue
$white: #ffffff;
$green-dark: #222; // Bestseller green dark
$green: #2C622C; // Bestseller green